ion-title{
    text-align: center;
}


table.center {
    margin-left:auto; 
    margin-right:auto;
    width:500;
    text-align: center;
    }
th{
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: black}
  
  th {
    background-color:grey;
    color:white;
  }





  p{
      text-align: center;
  }

  td{
      text-align: center;
  }

h1,h2{
    text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .content {
    position: absolute;
    color: whitesmoke;
    width: 100%;

  } 